#sidebar-wrapper.bg-light.border-right
  .sidebar-heading.text-center.pb-0 First Light 
  .sidebar-heading.text-center
    a.text-primary.font-weight-bold(href="/") Admin Dashboard
  hr 
  .list-group.list-group-flush
    a.list-group-item.list-group-item-action.bg-light(href='/users') Artists
    a.list-group-item.list-group-item-action.bg-light(href='/events') Events