extends layout

block content
  h2.my-4.text-center Add Event
  
  .container
    form(action="/events", method="post")
      .card
        .card-body
          .row
            .col-md-6.form-group
              label(for="name") Event Name
              input#name.form-control(type="text" name="name" required)
            .col-md-6.form-group
              label(for="user") Artist
              select#user.form-control(name="user" required)
                each user in users
                  option(value=user._id)=user.fullName
            .col-md-6.form-group
              label(for="fee") Fee
              input#fee.form-control(type="number" name="fee" required min="0")
            .col-md-4.form-group
              label(for="date") Date
              input#date.form-control.input-date(type="date" required)
              input.d-none(type="text" name="date")
            .col-md-4.form-group
              label(for="startTime") Start Time
              input#startTime.form-control.input-time(type="time" required data="startTime")
              input.d-none(type="text" name="startTime")
            .col-md-4.form-group
              label(for="endTime") End Time
              input#endTime.form-control.input-time(type="time" required data="endTime")
              input.d-none(type="text" name="endTime")
            .col-md-6.form-group
              label(for="invoiceStatus") Invoicing Status
              input#invoiceStatus.form-control(type="text" name="invoiceStatus")
            .col-md-6.form-group
              label(for="worksheetUrl") Worksheet Url
              input#worksheetUrl.form-control(type="text" name="worksheetUrl")
          .row
            .col-md-3.mx-auto.mt-3
              button.btn-block.btn.btn-success Submit
block customscripts
  script.
    $('.input-date').change(function (e) { 
      const selectedDate = $(this).val();
      const dateString = moment(selectedDate, 'YYYY-MM-DD').format();
      $('input[name="date"]').val(dateString);
    });

    $('.input-time').change(function (e) { 
      const selectedTime = $(this).val();
      const dateString = moment(selectedTime, 'HH:mm').format();
      const targetInput = $(this).attr('data');
      $('input[name="'+ targetInput +'"]').val(dateString);
    });