extends layout

block content
  h1.my-4.text-center Welcome to First Light Admin Dashboard
  
  .container
    .row
      .col-lg-6
        .card
          .card-body
            a.btn.btn-success.btn-block(href="/users") Artists
      .col-lg-6.mt-3.mt-lg-0
        .card
          .card-body
            a.btn.btn-success.btn-block(href="/events") Events
